# Created by .ignore support plugin (hsz.mobi)
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
*.apk
*.ap_
*.dex
bin/
gen/
out/
local.properties
proguard/
.navigation/
captures/
*.jks
.gitignore
.idea/
data/
gradle/
gradlew
gradlew.bat
pom.xml
settings.gradle
src/deploy
src/package
src/test
target/
src/main/resources/firebase_auth.json
/src/main/resources/dbprefs.db
/info.txt
/src/main/resources/versionsource.txt
/version.txt
/dadossql.db
/dbprefs.db
scenicView.properties