# Created by .ignore support plugin (hsz.mobi)
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
*.apk
*.ap_
*.dex
bin/
gen/
out/
local.properties
proguard/
*.log
.navigation/
captures/
*.jks
.gitignore
.idea/
data/
dbprefs.db
gradle/
gradlew
gradlew.bat
pom.xml
settings.gradle
src/deploy
src/package
src/test
target/
